[submodule "Projects/CheetahUtils"]
	path = Projects/CheetahUtils
	url = https://github.com/CraigCraig/CheetahUtils
[submodule "Projects/CheetahToolbox"]
	path = Projects/CheetahToolbox
	url = https://github.com/CraigCraig/CheetahToolbox
[submodule "CheetahToolbox"]
	path = CheetahToolbox
	url = https://github.com/CraigCraig/CheetahToolbox
[submodule "CheetahUtils"]
	path = CheetahUtils
	url = https://github.com/CraigCraig/CheetahUtils
